button {
	position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: $font;
    font-weight: bold;
    font-size: 1em;

    top: $button-position-top-normal;
    background: $button-background-color;
    color: $button-color;
    padding: $button-padding;

    border-radius: $button-border-radius;
    box-shadow: $button-box-shadow-normal;
    transition: $button-transition;

    &.inverted {
        color: $color-text-muted;
        border: none;
        background-color: none;
        box-shadow: none !important;
        background: none !important;

        &:hover {
            color: $color-text;
            top: 0px;
        }

        &:active {
            color: $color-text;
            top: 0px;
        }
    }

    &:hover {
        box-shadow: $button-box-shadow-hover;
        top: $button-position-top-hover;
    }

    &:active {
        box-shadow: $button-box-shadow-active;
        top: $button-position-top-active;
    }
}
