.card {
    padding: $card-padding;
    background-color: $color-surface;
    border-radius: $card-border-radius;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__title {
        color: $color-text-muted;
        margin: 0;
    }

    &__content {
        canvas {
            background-color: $color-surface;
        }
    }

    .card {
        background-color: $nested-color-surface;
    }
}